{% extends 'base.tpl' %}

	{% block body %}
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1>403 Forbidden</h1>
				</div>
				<div class="col-md-12">
					<h4>Вам отказанов в доступе<h4>
				</div>
			</div>
		</div>
	{% endblock%}