{% extends 'base.tpl' %}

	{% block body %}
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1>404 Not Found</h1>
				</div>
				<div class="col-md-12">
					<h4>Запрашиваемая страница не существует<h4>
				</div>
			</div>
		</div>
	{% endblock%}